[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
flake8 = "==6.0.0"
flake8-html = "*"
mypy = "==1.0.1"
pipenv = "==2023.2.18"
pytest = "==7.2.2"
pytest-cov = "==4.0.0"
pytest-html = "==3.2.0"
tox = "==4.4.6"

[requires]
python_version = "3"

[scripts]
typing = "mypy src tests"
style = "flake8 src tests"
tests = "pytest -v tests"
coverage = "pytest --cov-report term --cov-report html --cov src"
